*
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  list-style: none;

html,body
  height: 100%;
  width: 100%;
  margin 0 
  padding 0
  background:#080f3e
  font-family: "Microsoft YaHei"

ul, ol, li 
    list-style: none;
a 
    text-decoration: none;
    color: #333333;
    -webkit-backface-visibility: hidden
a:hover 
    text-decoration: none;
input 
  border none 
  outline: none
header, footer, nav, section, article 
    display: block
.clear:after 
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
.hide 
    display: none;
.show 
    display: block;
.clearfix:after
  display:table
  content:''
  height:0
  overflow:hidden
  clear:both
.clearfix:before
  display:table
  content:''
*{
    box-sizing: border-box
}
scroll{
  overflow scroll
  overflow-x hidden
  scrollbar-arrow-color rgba(3, 5, 57, 1)
  scrollbar-base-color hsla(0, 0%, 53%, 0.4)
  scrollbar-track-color rgba(3, 5, 57, 1)
  scrollbar-shadow-color hsla(0, 0%, 53%, 0.1)
}
