*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  list-style: none;
  font-family:SimHei !important;
}
.cf:before,.cf:after {
   content:"";
   display:table;
}

.cf:after { clear:both; }