*
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  list-style: none;
  font-family:SimHei !important;

.cf:before,.cf:after {
   content:"";
   display:table;
}

.cf:after { clear:both; }
html,body
  height: 100%;
  width: 100%;
  margin 0 
  padding 0
  background: rgba(1, 21, 64, 1);